.red-alert-small{
	font-size: .8rem;
    line-height: 1;
    font-weight: 500;
    display:block;
    color:#FF0000;
}

.table-title-row {
    height: 25px;
    width: auto;
    display:flex;
    .first-item {
        width: 70px;
        height: 25px;
        background-color:$silver-grey;
    }

    .item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $wetAsphalt;
        color: #FFF;
        width: 100px;
        margin-left: 1px;
        height: 25px;
        font-size: 14px;
        
    }
}

.table-row {
    height: 32px;
    width: auto;
    font-size: 14px;
    text-align: center;
    display:flex;
    .first-item {
    	display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70px;
        background-color: $wetAsphalt;
        color: #FFF;
        margin-top:1px;
    }
    .item {
    	display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100px;
        margin-left: 1px;
        background-color: #DDD;
        margin-top:1px;
        cursor:pointer;
    }

    .item-selected {
    	display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100px;
        margin-left: 1px;
        background-color: $tertiary-color;
        margin-top:1px;
        
    }
}